@import 'colors';

.tiny {
  padding: 0px;
}

@mixin buttonstyles($bg-color: $gray) {
  background-color: $bg-color;
  padding: 5px;
  color: $black;
}

@mixin buttonhovers($hover-color) {
  background-color: $hover-color;
  padding: 5px;
  box-shadow: 8px 8px 8px $shadow;
}

input.show-crud-buttons {
  @include buttonstyles;
  &:hover{
    @include buttonhovers($jade);
  }
}
input.review-crud-buttons {
  @include buttonstyles($gray);
  color: $black;
  &:hover{
    @include buttonhovers($yellow);
  }
}
input.dino-crud-buttons {
  @include buttonstyles;
  &:hover{
    @include buttonhovers($green);
  }
}
input.submit-comment-crud-buttons.tiny {
  box-shadow: 8px 8px 8px $shadow;
  @include buttonstyles($jade);
  &:hover{
    @include buttonhovers($purple);
  }
}
input.update-comment-crud-buttons.tiny {
  @include buttonstyles($gray);

  &:hover{
    @include buttonhovers($purple);
  }
}
input.search-crud-buttons {
  @include buttonstyles($black);
  color: $white;
  &:hover{
    @include buttonhovers($gray);
    box-shadow: 0px 0px 0px $shadow;
    color: $black;
  }
}
input.vote-button {
  @include buttonstyles($jade);
}
