<h1>
  <%= @user.email %>
</h1>
<%= button_to "Update Info", edit_user_path(@user), class: 'dino-crud-buttons button expand round medium', method: :get%>
<%= button_to "Delete Account", @user, class: 'dino-crud-buttons button expand round medium', method: :delete %>
