/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require foundation_and_overrides
 *= require_self

 */
.row {
  margin: 30px;
}

.crud-buttons {
  background-color: #bbb;
  padding: 5px;
}
.crud-buttons.tiny {
  background-color: #bbb;
  padding: 5px;
  margin: 10px 0px 0px 0px;
}
.tiny {
  padding: 0px;
}
.crud-buttons:hover {
  background: green;
  box-shadow: 8px 8px 8px #777;
}

.dinosaur-link {
  background-color: #999;
  margin: 10px;
}
a {
  text-decoration: none;
  color: white;
}

.dinosaur-desc {
  margin-left: 10px;
  font-size: 10pt;
}
.review {
  background-color: #999;
}
.review-info {
  font-size: 10pt;
}
.review-body {
  margin-left: 10px;
  font-size: 15pt;
}
.review-block {
  margin: 10px;
  padding-bottom: 10px;
  background-color: #999;
}
.button.button-comment {
  background-color: #666;
  padding: 5px;
  margin: 0px 10px 10px 0px;
}
.button-comment:hover {
  background: green;
  box-shadow: 8px 8px 8px #777;
}
.comment-input-field {
  margin-bottom: 0px;
}
.comments {
  background-color: #666;
  color: white;
  margin-left: 30px;
  padding: 5px;
  font-size: 10pt;
}
.comment-field {
  margin: 10px 0px 0px 0px;
}
.comment-user {
  font-size: 8pt;
}
.comment-header {
  font-size: 12pt;
  font-weight: bold;
  color: #999;
}
