@import 'sass/colors';

.comments {
  background-color: $jade;
  color: white;
  padding: 5px;
  padding-bottom: 30px;
  font-size: 10pt;
  box-shadow: 8px 8px 8px #777;
  padding-top: 15px;
}
.comment-field {
  margin: 20px 0px 0px 0px;
}
.comment-user {
  font-size: 8pt;
}
.comment-header {
  font-size: 10pt;
  font-weight: bold;
  color: #fff;
  margin-left: 60px;
}
.comment-row {
  padding: 10px 0px;
}
