@import 'sass/colors';

.review-info {
  margin-left: 20px;
  font-size: 10pt;
}
.review-body {
  margin-left: 5px;
  font-size: 15pt;
}
.review-block {
  margin: 10px;
  padding-bottom: 10px;
  background-color: #999;
  background-image: url("dino-wallpaper.jpg");
  box-shadow: 8px 8px 8px #777;
}
.review-box {
  margin-top: 5px;
  background-color: $jade;
  color: white;
  padding: 5px;
  font-size: 10pt;
  box-shadow: 8px 8px 8px #777;
  padding-bottom: 15px;
}
textarea#textarea-review {
  height: 200px;
}

.score.inner {
  display: inline-block;
  color: black;
}
