<h1>Users!</h1>
<% @users.each do |user| %>
  <div class="row">
    <div class="column small-4">
      <%= user.email %>
      <% if user.admin? %>
        <b>Admin</b>
      <% end %>
    </div>
    <div class="column small-4 end">
      <%= button_to "Exctinctify #{user.email}", admin_user_path(user), class: "dino-crud-buttons button round medium user#{user.id}", method: :delete %>
    </div>
  </div>
<% end %>
