
<%= form_for [@review, @comment] do |form| %>
  <div class="comment-field column small-12">
    <%= form.text_field :body, class: "text-input-field comment-input-field", placeholder: 'Add a new comment!' %>
    <%= form.submit "Save comment", class: 'submit-comment-crud-buttons button round tiny'%>
  </div>

<% end %>
